@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  outline: none;
  border: none;
}
:root {
  --main: #06a3da;
  --secend-color: #34ad54;
  --light-color: #eef9ff;
  --dark: #091e3e;

  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-nunito: "Nunito", sans-serif;
}
.container {
  width: 93%;
  margin: auto;
}
.header-parent {
  width: 100%;
  background: var(--dark);
}
.header-parent header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 2;
}
.header-parent header .header-info {
  font-size: 1.2rem;
  font-family: var(--font-family-poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header-parent header .header-info small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-parent header .header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header-parent header .header-social a {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: all 300ms ease;
  display: flex;
  border: 1px solid #eef9ff;
  justify-content: center;
  align-items: center;
}
.header-parent header .header-social a:hover i {
  color: #000;
  background: transparent;
}
.header-parent header .header-social a:hover {
  background: #eef9ff;
  color: #000;
}
main {
  height: 110vh;
  background-image: linear-gradient(rgba(9, 30, 62, 0.7)),
    url(assets/img/carousel-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
}
.Navigation-bar {
  border-bottom: 1px solid rgba(256, 256, 256, 0.1);
}
nav .logo {
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--font-family-nunito), sans-serif;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul i {
  color: var(--main);
}
nav ul li {
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  font-family: var(--font-family-poppins);
  transition: all 1s ease;
}

nav ul li:hover {
  transform: translateY(-5px);
}
nav ul button {
  padding: 1rem 2rem;
  font-family: var(--font-family-nunito);
  background: var(--main);
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
nav ul button:hover {
  background: var(--secend-color);
  color: #000;
  translate: 0 -5px;
}
.hero-section {
  display: flex;
  height: 94vh;
  justify-content: center;
  align-items: center;
}
.hero-section .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .hero-info-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
.hero-section .hero-info-box h5 {
  font-size: 1.6rem;
  font-weight: 440;
  font-family: var(--font-family-nunito);
}
.hero-section .hero-info-box h1 {
  font-size: 4rem;
  width: 87%;
  text-align: center;
  font-weight: 900;
  font-family: var(--font-family-nunito);
}
.hero-section .hero-info-box .hero-btn {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 3rem;
}
.hero-section .hero-info-box .hero-btn button {
  cursor: pointer;
  padding: 16px 48px;
  background: var(--main);
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 3s ease-in;
}
.hero-section .hero-info-box .hero-btn .btn-2 {
  border: 1px solid #fff;
  background: transparent;
  transition: all 1s ease;
  font-weight: 700;
}
.hero-section .hero-info-box .hero-btn .btn-2:hover {
  background: #fff;
  color: #000;
}
.hero-section i {
  font-size: 4rem;
}
/* carda */
.cards {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.cards .card {
  padding: 23px 34px;
  display: flex;
  background: var(--main);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in;
}
.card .card-icon i {
  font-size: 1.44rem;
}
.cards .card .card-info span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family-poppins);
}
.cards .card h2 {
  font-size: 2rem;
  font-weight: 900;
}
.cards .card:nth-child(1) .card-icon {
  background: #fff;
  padding: 1rem 1.5rem;
}
.cards .card:nth-child(1) .card-icon i {
  color: #000;
}
.cards .card:nth-child(2) {
  background: #fff;
  color: #000;
}
.cards .card:nth-child(2) .card-icon {
  background: var(--main);
  padding: 1rem 1.5rem;
  color: #000;
}
.cards .card:nth-child(2) span {
  color: var(--main);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family-poppins);
}

.cards .card:nth-child(2) h2 {
  color: #000;
  font-size: 2rem;
  font-weight: 900;
}
.cards .card:nth-child(3) .card-icon {
  background: #fff;
  padding: 1rem 1.5rem;
}
.cards .card:nth-child(3) .card-icon i {
  color: #000;
}

/* about */
.about-section .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  gap: 1rem;
  height: 100vh;
}
.about-section .about .about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 0.5rem;
  flex-direction: column;
}
.about-section .about .about-info h5 {
  font-size: 1.2rem;
  font-family: var(--font-family-poppins);
  color: var(--main);
}
.about-section .about .about-info h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: black;
  font-family: var(--font-family-nunito);
}
.about-section .about .about-info .line {
  width: 200px;
  height: 8px;
  background: var(--main);
  margin: 1rem 0;
}
.about-section .about .about-info p {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #000;
}
.about-section .about .about-us-support {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  font-family: var(--font-family-nunito);
  font-size: 1rem;
  color: #000;
  width: 100%;
  justify-content: left;
}
.about-section
  .about
  .about-us-support
  .about-left-side
  .about-us-support-box
  span,
.about-section
  .about
  .about-us-support
  .about-right-side
  .about-us-support-box
  span {
  color: #000;
}
.about-section .about .about-us-support i {
  color: var(--main);
}
.call-to-ask {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: left;
  margin-top: 1rem;
}
.call-to-ask .call-to-ask-box {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.call-to-ask .call-to-ask-box .call-icon i {
  background: var(--main);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-to-ask .call-to-ask-box .call-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.call-to-ask .call-to-ask-box .call-info h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--font-family-poppins);
  text-align: left;
  color: #000;
}

.call-to-ask .call-to-ask-box .call-info span {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family-poppins);
  color: #000;
}
.call-to-ask .btn {
  padding: 24px 48px;
  background: var(--main);
  color: #fff;
  font-weight: 600;
  width: fit-content;
  font-size: 1rem;
}

.about-section .about .about-img {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about .about-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* choose us */
.choose-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.choose-us {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.choose-us .choose-us-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-us h5 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family-poppins);
  color: var(--main);
  margin-bottom: 1rem;
}
.choose-us h1 {
  font-size: 3rem;
  width: 44rem;
  font-weight: 900;
  color: black;
  font-family: var(--font-family-nunito);
}
.line {
  width: 200px;
  height: 8px;
  background: var(--main);
  margin: 1rem 0;
  justify-content: center;
}
.choose-us .choose-us-boxs {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.choose-us .choose-us-boxs .choose-us-left .choose-box-1 i,
.choose-us .choose-us-boxs .choose-us-left .choose-box-2 i {
  padding: 0.44rem 1rem;
  background: var(--main);
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.choose-us .choose-us-boxs .choose-us-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.choose-box-1,
.choose-box-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  width: 16rem;
  font-family: var(--font-family-poppins);
}
.choose-us .choose-us-boxs .choose-us-left h4 {
  color: #000;
  font-size: 1rem;
}

.choose-us .choose-us-boxs .choose-us-left p,
.choose-us .choose-us-boxs .choose-us-right p {
  font-size: 0.7rem;
  padding: 0.55rem 1rem;
  color: #000;
}
.choose-us-img {
  width: 64%;
  display: flex;
  justify-content: center;
}
.choose-us-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.choose-us .choose-us-boxs .choose-us-right .choose-box-1 i,
.choose-us .choose-us-boxs .choose-us-right .choose-box-2 i {
  padding: 1rem;
  background: var(--main);
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
  width: fit-content;
}
.choose-us .choose-us-boxs .choose-us-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.choose-us .choose-us-boxs .choose-us-right .choose-box-1,
.choose-us .choose-us-boxs .choose-us-right .choose-box-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-poppins);
}
.choose-us .choose-us-boxs .choose-us-right h4 {
  color: #000;
  font-size: 1rem;
}

.choose-us .choose-us-boxs .choose-us-right p,
.choose-us .choose-us-boxs .choose-us-right p {
  font-size: 0.7rem;
  color: #000;
}
.services {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}
.services h5 {
  color: var(--main);
  font-size: 2rem;
  font-family: var(--font-family-montserrat);
  font-weight: 600;
}
.services h1 {
  font-family: var(--font-family-poppins);
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  width: 468px;
}
.services .service-boxs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.services .service-boxs .service-box {
  height: 325px;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  display: flex;
  width: 338px;
  background: #eef9ff;
  position: relative;
  overflow: hidden;
  font-family: var(--font-family-poppins);
}
.services .service-boxs .service-box .service-icon {
  padding: 1.5rem 1.5rem;
  border-radius: 30%;
  background: var(--main);
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .service-boxs .service-box .service-icon i {
  transform: rotate(45deg);
  font-size: 1.2rem;
}
.services .service-boxs .service-box h4 {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
}
.services .service-boxs .service-box p {
  color: #000;
  font-size: 0.99rem;
}
.services .service-boxs .service-box .arrow-right-icon {
  background: var(--main);
  padding: 0.5rem 3rem;
  position: absolute;
  bottom: -38px;
  transition: all 300ms ease;
  cursor: pointer;
}
.services .service-boxs .service-box:hover .arrow-right-icon {
  transform: translateY(-40px);
  display: block;
}
.services .service-boxs .service-box:nth-child(6) {
  background: var(--main);
}
.services .service-boxs .service-box:nth-child(6) h3 {
  font-size: 1.88rem;
  font-weight: 400;
}
.services .service-boxs .service-box:nth-child(6) p {
  color: #fff;
}
.services .service-boxs .service-box:nth-child(6) h2 {
  font-size: 2rem;
}
/* contact us */
.contact-us {
  display: flex;
  margin-top: 8rem;
  justify-content: space-between;
  align-items: center;
}
.contact-us .contact-us-left_side {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
  width: 50%;
  padding: 2rem 2.4rem;
}
.contact-us .contact-us-left_side h5 {
  color: var(--main);
  font-size: 1.2rem;
  text-align: left;
}
.contact-us .contact-us-left_side h1 {
  color: #000;
  font-size: 2rem;
  text-align: left;
  font-family: var(--font-family-montserrat);
}

.contact-us .contact-us-left_side .our-support {
  display: flex;
  font-size: 1rem;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
  font-family: var(--font-family-poppins);
}
.contact-us .contact-us-left_side .our-support span {
  color: #000;
  text-align: left;
}
.contact-us-left_side p {
  font-size: 1rem;
  text-align: justify;
  font-family: var(--font-family-poppins);
  line-height: 1.44rem;
  color: var(--dark);
}
.contact-us .contact-us-left_side .call-to-ask {
  margin-top: 0%;
}

.contact-us .contact-us-left_side .our-support i {
  color: var(--main);
}
/* contact us right section */
.contact-us .contact-us-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .contact-us-right .contact-us-box {
  width: 100%;
  height: 100%;
  padding: 48px 48px;
  background: var(--main);
}
.contact-us .contact-us-right .contact-us-box form {
  display: flex;
  font-family: var(--font-family-poppins);
  flex-direction: column;
  gap: 2rem;
}
.contact-us .contact-us-right .contact-us-box input {
  width: 100%;
  height: 3rem;
  color: #000;
  padding: 0 12px;
  border-radius: 1rem;
  font-size: 1rem;
}
.contact-us .contact-us-right .contact-us-box form select {
  height: 3rem;
  font-size: 1rem;
  padding: 0 12px;
  width: 100%;
  background: #eef9ff;
  color: #000;
}
.contact-us .contact-us-right .contact-us-box form select option {
  color: #000;
}
.contact-us .contact-us-right .contact-us-box form textarea {
  width: 100%;
  height: 5rem;
  padding: 0 12px;
  font-size: 1rem;
  color: #000;
}
.contact-us .contact-us-right .contact-us-box form .btn {
  color: #fff;
  padding: 2rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: all 1s ease;
  font-weight: 600;
  background: rgb(31, 36, 93);
}
.contact-us .contact-us-right .contact-us-box form .btn:hover {
  border: 1px solid #fff;
}
/* testimonials */
.testimonials {
  height: 100vh;
  margin-top: 8rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials h5 {
  color: var(--main);
  font-size: 1.2rem;
  font-family: var(--font-family-poppins);
}
.testimonials h1 {
  color: #000;
  text-align: center;
  width: 60%;
  font-size: 2rem;
  font-family: var(--font-family-poppins);
}
.testimonials .clinets {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  align-items: center;
}
.testimonials .clinets .clinet {
  background: #eef9ff;
  box-shadow: 5px 0px 8px 3px rgba(0, 0, 0, 0.1);
  width: 382px;
  height: 300px;
  padding: 48px 48px;
}
.testimonials .clinets .clinet .clinet-box {
  display: flex;
  gap: 1rem;
}
.testimonials .clinets .clinet .clinet-box h2 {
  color: var(--main);
  font-family: var(--font-family-poppins);
  font-size: 1.5rem;
}
.testimonials .clinets .clinet .clinet-box h6 {
  color: var(--dark);
  font-size: 1.2rem;
}
.testimonials .clinets .clinet p {
  color: var(--dark);
  padding: 2rem 0 0 0;
  border-top: 1px solid #eef9ff;
  font-size: 1.2rem;
  line-height: 1.4rem;
  width: 100%;
}
.testimonials .clinets .clinet:nth-child(2) {
  background: #fff;
  position: relative;
  z-index: 2;
}
/* team members */
.team-members {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8em;
}
.team-members h5 {
  font-family: var(--font-family-montserrat);
  color: var(--main);
  font-size: 1.33rem;
}
.team-members h1 {
  font-size: 2rem;
  width: 60%;
  color: #000;
  font-family: var(--font-family-montserrat);
  text-align: center;
}
.team-members .team-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 30px;
}
.team-members .team-boxs .team-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  background: #eef9ff;
}
.team-members .team-boxs .team-box .team-img {
  width: 340px;
  height: 377px;
  background-position: center;
  background-size: cover;
  background-image: url(assets/img/team-1.jpg);
}
.team-members .team-boxs .team-box:nth-child(1) .team-img:hover {
  background-image: linear-gradient(rgba(9, 30, 62, 0.7)),
    url(assets/img/team-1.jpg);
}
.team-members .team-boxs .team-box:nth-child(2) .team-img {
  background-image: url(assets/img/team-2.jpg);
  position: relative;
  z-index: 2;
}
.team-members .team-boxs .team-box:nth-child(2) .team-img:hover {
  background-image: linear-gradient(rgba(9, 30, 62, 0.7)),
    url(assets/img/team-2.jpg);
}
.team-members .team-boxs .team-box:nth-child(3) .team-img {
  background-image: url(assets/img/team-3.jpg);
  position: relative;
  z-index: 2;
}
.team-members .team-boxs .team-box:nth-child(3) .team-img:hover {
  background-image: linear-gradient(rgba(9, 30, 62, 0.7)),
    url(assets/img/team-3.jpg);
}

.team-members .team-boxs .team-box .team-img .social-media {
  position: relative;
  text-align: center;
  bottom: -55%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: all 1s ease;
}

.team-members .team-boxs .team-box:hover .team-img .social-media {
  opacity: 1;
  gap: 1rem;
  transform: translateY(-122%);
}
.team-members .team-boxs .team-box .team-img .social-media i {
  padding: 1rem 1rem;
  transform: 3%;
  background: var(--main);
  transition: all 1s ease;
  color: #eef9ff;
  cursor: pointer;
  font-size: 1.33rem;
}
.team-members .team-boxs .team-box .team-img .social-media i:hover {
  color: #000;
}
.team-members .team-boxs .team-box .team-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.team-members .team-boxs .team-box .team-info h3 {
  font-size: 2rem;
  font-family: var(--font-family-montserrat);
  color: var(--main);
}
.team-members .team-boxs .team-box .team-info h5 {
  font-size: 1.22rem;
  color: #000;
  font-weight: 400;
  font-family: var(--font-family-poppins);
}
/* footer */
.footer {
  background: var(--dark);
  position: relative;
  margin-top: 5rem;
  z-index: 1;
}
.footer .footer-content {
  display: flex;
  height: 100%;
  gap: 3rem;
}
.footer .footer-info-box {
  display: flex;
  gap: 1rem;
  width: 30%;
  flex-direction: column;
  background: var(--main);
  padding: 24px 24px;
  justify-content: center;
  align-items: center;
}
.footer .footer-info-box .logo {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-family-montserrat);
}
.footer .footer-info-box p {
  font-size: 1rem;
  text-align: center;
  font-family: var(--font-family-poppins);
}
.footer .footer-info-box .input-footer-email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.footer .footer-info-box .input-footer-email input {
  width: 60%;
  height: 100%;
  padding-left: 1rem;
  color: #000;
  font-family: var(--font-family-nunito);
  font-size: 1.1rem;
}
.footer .footer-info-box .input-footer-email label {
  background: var(--dark);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  width: 40%;
  font-family: var(--font-family-poppins);
}
.footer footer {
  height: 100%;
  width: 60%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer footer .footer-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer-1,
.footer-2,
.footer-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 200px;
  height: 100%;
  padding: 30px 0;
}
footer .footer-1 h3,
footer .footer-2 h3,
footer .footer-3 h3 {
  font-size: 1.2rem;
  font-family: var(--font-family-montserrat);
}
.footer-1:nth-child(1) div {
  display: flex;
  width: 100%;
  gap: 1rem;
  font-size: 1rem;
  font-family: var(--font-family-montserrat);
}

.footer-1 .footer-social a {
  height: 2rem;
  width: 2rem;
  background: var(--main);
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-1 .footer-social a:hover {
  transform: scale(1.1);
}

.footer footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  font-family: var(--font-family-montserrat);
}
.footer footer .footer-links i {
  color: var(--main);
}
.footer footer .footer-links a {
  transition: all 300ms ease;
}
.footer footer .footer-links a:hover {
  transform: translateX(1rem);
}
.end-footer {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  z-index: -1;
  background: #000;
  height: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  font-family: var(--font-family-poppins);
}
.end-footer .end-footer-content {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  align-items: center;
}

.end-footer .end-footer-content p {
  display: flex;
}
.end-footer .end-footer-content a {
  text-decoration: underline;
}
/* website error 768tu 836 */
/* media qurry for big tablets  */
@media screen and (max-width: 936px) {
  * {
    box-sizing: border-box;
  }
  .header-parent header {
    justify-content: space-around;
  }
  .header-parent header .header-info {
    font-size: 0.8rem;
  }
  .header-parent header .header-social a {
    height: 1.6rem;
    width: 1.6rem;
  }
  nav {
    justify-content: space-around;
  }
  nav .logo {
    font-size: 1.8rem;
  }

  nav ul li {
    font-size: 0.9rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }

  nav ul button {
    padding: 0.89rem 1rem;
    font-size: 0.8rem;
  }
  .hero-section .hero-info-box h5 {
    font-size: 0.88rem;
  }
  .hero-section .hero-info-box h1 {
    font-size: 3rem;
  }
  .cards {
    bottom: -50px;
  }
  .cards .card {
    padding: 15px 25px;
  }
  .cards .card .card-info span {
    font-size: 0.8rem;
  }
  .cards .card h2 {
    font-size: 1rem;
  }
  .cards .card:nth-child(2) .h2 {
    font-size: 1rem;
  }

  .about-section {
    height: fit-content;
  }
  .about-section .about {
    margin-top: 5rem;
  }
  .about .about-info h5 {
    font-size: 0.8rem;
  }

  .about-section .about .about-info h1 {
    font-size: 1.7rem;
  }
  .about-section .about .about-info p {
    font-size: 1rem;
  }
  .call-to-ask .call-to-ask-box .call-icon i {
    padding: 0.9rem 1rem;
  }
  .call-to-ask .btn {
    padding: 16px 15px;
    font-size: 0.9rem;
  }
  .about-section .about .about-img {
    height: 64%;
    width: 44%;
  }

  .choose-section {
    margin-top: 5rem;
  }
  .choose-us h1 {
    font-size: 1.7rem;
  }
  .services .service-boxs .service-box h4 {
    text-align: center;
  }
  .services .service-boxs .service-box:nth-child(6) h3 {
    font-size: 1.5rem;
  }
  .services .service-boxs .service-box:nth-child(6) h2 {
    font-size: 1.6rem;
  }
  .testimonials {
    margin-top: 12rem;
  }

  .testimonials .clinets .clinet {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
  }
  .team-members {
    height: fit-content;
    margin-top: 10rem;
  }
  .team-members h1 {
    width: 60%;
  }
  .team-members .team-boxs .team-box .team-img {
    width: 235px;
    height: 238px;
  }
  .footer .footer-info-box .logo {
    font-size: 2rem;
  }
  .footer .footer-info-box p {
    font-size: 0.88rem;
  }
  .footer .footer-info-box .input-footer-email input {
    font-size: 0.89rem;
  }
  .footer .footer-info-box .input-footer-email label {
    font-size: 0.89rem;
  }
  footer .footer-1 h3,
  footer .footer-2 h3,
  footer .footer-3 h3 {
    font-size: 1rem;
  }
  .footer-1:nth-child(1) div {
    font-size: 0.88rem;
  }
  .footer-1 .footer-social a {
    height: 1.6rem;
    width: 1.6rem;
  }
  .footer footer .footer-links {
    gap: 0.77rem;
    font-size: 0.78rem;
  }
  .end-footer {
    height: 28px;
    font-size: 0.79rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 140%;
  }
  .container {
    width: 85%;
    margin: auto;
  }
  .header-parent {
    position: relative;
  }
  .header-parent header .header-info {
    font-size: 0.8rem;
  }
  .header-parent header .header-social a {
    height: 1.6rem;
    width: 1.6rem;
  }
  nav {
    justify-content: space-around;
    height: 30px;
  }
  nav .logo {
    font-size: 1.8rem;
  }
  .Navigation-bar {
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    background: var(--dark);
    top: 0%;
    right: 0%;
    padding: 2rem 1rem 0 1rem;
    position: absolute;
  }
  nav ul button {
    padding: 0.89rem 1rem;
    font-size: 0.8rem;
  }

  nav ul li {
    font-size: 0.9rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }

  .choose-us .choose-us-boxs {
    flex-direction: column;
    gap: 2rem;
  }
  .choose-us .choose-us-boxs .choose-us-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choose-us .choose-us-boxs .choose-us-left,
  .choose-us .choose-us-boxs .choose-us-right {
    flex-direction: row;
    gap: 1rem;
  }
  .services {
    margin-top: 6rem;
  }
  .services .service-boxs .service-box {
    width: 432px;
    height: 379px;
  }
  .testimonials{
    height: fit-content;
  }
}
@media screen and (max-width: 575px) {
  body {
    background-color: green;
  }
  .about-section .about {
    flex-direction: column;
  }
  .about-section .about .about-us-support {
    justify-content: center;
  }
  .call-to-ask .call-to-ask-box {
    justify-content: center;
  }
  .call-to-ask {
    justify-content: center;
    align-items: center;
  }
  .choose-us {
    margin-top: 23rem;
  }
  .choose-us .choose-us-boxs {
    justify-content: center;
    align-items: center;
  }
  .services {
    gap: 1rem;
  }
  .contact-us {
    flex-direction: column;
  }
  .contact-us .contact-us-left_side {
    width: 90%;
  }
  .contact-us .contact-us-right {
    width: 90%;
  }
  .testimonials {
    margin-top: 5rem;
  }
  .team-members{
    margin-top: 8rem;
  }
  .team-box {
    width: 290px;
    align-items: center;
    height: 340px;
    justify-content: center;
  }
  .team-members .team-boxs .team-box .team-img {
        width: 163px;
        height: 168px;
    }
    .team-members .team-boxs .team-box .team-info h3{
      font-size: 1.4rem;
    }
    .team-members .team-boxs .team-box .team-info h5{
      font-size: 1rem;
    }
  .team-members .team-boxs .team-box .team-img .social-media i{
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.55rem 0.55rem;
  }
  .footer .footer-info-box .logo {
    font-size: 1rem;
  }
  .footer .footer-info-box p {
    font-size: 0.55rem;
  }
  .footer .footer-info-box .input-footer-email input {
    font-size: 0.55rem;
  }
  .footer .footer-info-box .input-footer-email label {
    font-size: 0.55rem;
  }
  footer .footer-1 h3,
  footer .footer-2 h3,
  footer .footer-3 h3 {
    font-size: 0.66rem;
  }
  .footer-1:nth-child(1) div {
    font-size: 0.66rem;
  }
  .footer-1 .footer-social a {
    height: 0.89rem;
    width: 0.89rem;
  }
  .footer footer .footer-links {
    gap: 0.44rem;
    font-size: 0.58rem;
  }
  .end-footer {
    height: 18px;
    font-size: 0.59rem;
  }

}
